@use '../abstracts' as *;

body{

    h2{
        font-size: 1.5rem;
        color: $sec-orange;

        @include mq(small){
            color: $pry-orange;
        }
        @include mq(medium){
            color: $blue;
        }
        @include mq(large){
            color: $green;
        }
    }
}