@use '../abstracts' as *;

body{
    background: $white;

    h2{
        font-size: 1.5rem;
        color: $black;

        @include mq(small){
            color: $red;
        }
        @include mq(medium){
            color: $blue;
        }
        @include mq(large){
            color: $green;
        }
    }
}