@use 'sass:map';


// MEDIA QUERY BREAKPOINTS!
$breakpoints: (
  small: 40em,
  medium: 55em,
  large: 65em,
);

@mixin mq($key){
    $size: map.get($breakpoints, $key);

    @media (min-width: $size){
        @content;
    }
}