// COLORS

$pry-orange: #ff7d1a;
// $pry-orange: red;
$sec-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(219, 9%, 45%);
$blue: hsl(220, 14%, 75%);
$green: green;
$white: hsl(0, 0%, 100%);
$black-o: rgba(0,0,0,.7);
$black: black;
// TYPOGRAPHY
$p-size: 1.6rem; 

