@use "../abstracts/" as *;

.amount__submit {
  background: $pry-orange;
  color: $white;
  flex-basis: 55%;
  padding: 0.7rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;

  .submit-btn{
    border: 1px solid red;
    @include dflexhalf;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    margin: auto;
  }
}
