@use "../abstracts" as *;

header {
  @include m-auto;
}

.nav {
  border-bottom: 1px solid $blue;
  @include dflexcomp;
  padding: 1.5rem 0;

  &-list {
    @include dflexhalf;

    @include mq(land-phone){
      display: none;
    }
  }

  li {
    list-style: none;
    font-size: 1.3rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      text-decoration: none;
      color: $dark-blue;
      transition: all .3s;

      &:hover{
        color: $pry-orange;
        font-weight: 600;
      }
    }
  }

  &__left {
    @include dflexcomp;
    flex-basis: 50%;
    min-width: 52rem;

    &--hamMenu{
      display: none;
      width: 10%;
      height: 2.05rem;

      @include mq(land-phone){
        display: flex;
      }
    }

    @include mq(land-phone){
      flex-basis: 21%;
    }
  }

  &__right {
    @include dflexcomp;
    width: 8%;

    @include mq(tab-port){
      min-width: 7rem;
    }

    .cart-div {
      position: relative;

      .img-cart {
        display: block;
      }

      .cart-amount {
        display: none;
        background: $pry-orange;
        color: $white;
        border-radius: 50%;
        height: 1.2rem;
        width: 1.2rem;
        text-align: center;
        font-size: 0.9rem;
        padding: 0.15rem;
        position: absolute;
        right: -0.4rem;
        top: -0.4rem;
      }
    }

    .cart__dropdown {
      background-color: $white;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      position: absolute;
      z-index: 3;
      top: 5rem;
      right: 4rem;
      width: 22%;

      .cart-heading{
        padding: .8rem;
      }

      &--contents {
        border-top: 1px solid $blue;
        min-height: 15vh;
        padding: 2rem 1rem;

        h3 {
          text-align: center;
          color: $blue;
        }

        .cart__content--flex {
          @include dflexcomp;
          gap: .5rem;

          .img-thumb {
            width: 20%;
            border-radius: 0.5rem;
          }

          .content-texts {
            p {
              color: $dark-blue;
              font-weight: 600;
              font-size: 1rem;
            }

            span {
              color: $black;
              font-weight: 800;
            }
          }
        }
      }
    }

    .img-avatar {
      width: 40%;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        border: 2px solid $pry-orange;
      }
    }
  }
}
