@use "../abstracts" as *;

header {
  @include m-auto;
}

.nav {
  border-bottom: 1px solid $blue;
  @include dflexcomp;
  padding: 1.5rem 0;

  &-list {
    @include dflexhalf;
  }

  li {
    list-style: none;
    font-size: 1.3rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      text-decoration: none;
      color: $dark-blue;
    }
  }

  &__left {
    @include dflexcomp;
    flex-basis: 50%;
  }

  &__right {
    @include dflexcomp;
    width: 8%;

    .cart-dropdown{    
      position: relative;  

      .img-cart{
        display: block;
      }

      .cart-amount{
        background: $pry-orange;
        color: $white;
        border-radius: 50%;
        height: 1.2rem;
        width: 1.2rem;
        text-align: center;
        font-size: .9rem;
        padding: .15rem;
        position: absolute;
        right: -.4rem;
        top: -.4rem;
      }
    }
    .img-avatar {
      width: 40%;
      cursor: pointer;

      &:hover{
        border: 2px solid $pry-orange;
        border-radius: 50%;
      }
    }
  }
}
