@use "../abstracts/" as *;

.overlay{
    display: none;
    @include mq(land-phone){
        height: 100vh;
        width: 100vw;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $black-o;
        backdrop-filter: blur(20px);
    }
    
    &__content{
        padding: 4rem;
        background: $white;
        position: absolute;
        height: 100vh;
        width: 66vw;

        &--close{
            height: 1.5rem;
            
            &:hover{
                fill: $pry-orange;
            }
        }

        &--nav-list2{
            // border: 1px solid red;
            list-style: none;
            margin-top: 10rem;

            li{
                &:not(:last-child){
                    // border: 1px solid blue;
                    margin-bottom: 3rem;
                }
            }

            .nav-link{
                color: $black;
                text-decoration: none;
                font-weight: 900;
                font-size: 3.5rem; 
                transition: all .3s; 
                
                &:hover{
                    color: $pry-orange;
                }
            }
        }
    }
}