@use "../abstracts" as *;

.popup{
    background-color: $black-o;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    transition: all 0.5s;
    // opacity: 0;
    // visibility: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    

    &__content{
        @include center-vertical-horizontal;
        border: 1px solid red;
        width: 34%;

        .popup__img{
            width: 100%;
            position: relative;
            border: 1px solid blue;

            img{
                width: 100%;
                display: block;
                border-radius: 0.7rem;
            }

            .prevs-div, .next-div{
                background-color: $white;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                position: absolute;
                // bottom: 18rem;
                bottom: 18rem;

                img{
                    @include center-vertical-horizontal;
                    width: 35%;
                }
            }

            .prevs-div{
                left: -1.4rem;
            }
            .next-div{
                right: -1.4rem;
            }
        }

        .popup__img-gallery{

            img{
                width: 10%;
            }
        }
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }
}