@use "../abstracts/" as *;

.main__content {
  @include m-auto;
  border: 1px solid black;
  margin-top: 3rem;
  padding: 0 2rem;
  &--flex {
    @include dflexcomp;
    // gap: 7rem;

    &--left {
      border: 1px solid red;
      flex-basis: 70%;
      border-radius: 0.7rem;

      img {
        width: 80%;
        display: block;
        border-radius: 0.7rem;
      }
    }

    &--right {
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 55%;
    //   flex-basis: 40%;

      h2 {
        color: $pry-orange;
        font-weight: 900;
        font-size: 0.9rem;
      }

      h3{
        font-size: 3rem;
      }

      p{
        color: $dark-blue;
        font-size: 1.5rem;
      }
    }
  }
}
