@use '../abstracts/' as *;

.main__content{
    &--flex{
        @include dflexcomp;

        &--left{
            border: 1px solid red;
            flex-basis: 30%;
            img{
                width: 20%;
            }
        }

        &--right{
            border: 1px solid blue;
            flex-basis: 50%;
        }
    }
}