@use '../abstracts/' as *;

.main__content{
    width: 82%;
    margin: auto;
    border: 1px solid black;
    &--flex{
        @include dflexcomp;

        &--left{
            border: 1px solid red;
            flex-basis: 40%;
            border-radius: .7rem;

            img{
                width: 100%;
                display: block;
                border-radius: .7rem;

            }
        }

        &--right{
            border: 1px solid blue;
            flex-basis: 50%;
        }
    }
}